{
  "openapi": "3.1.0",
  "info": {
    "title": "Invapi",
    "version": "1.1.5",
    "description": "API for E-Invoicing - Conversion, Validation and Extraction from PDF & Images",
    "contact": {
      "email": "support@invapi.org"
    }
  },
  "tags": [
    {
      "name": "Validation"
    },
    {
      "name": "Extraction"
    },
    {
      "name": "Conversion"
    },
    {
      "name": "User"
    },
    {
      "name": "Batch"
    }
  ],
  "servers": [
    {
      "url": "https://api.invapi.org",
      "description": "Production Server",
      "variables": {}
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "Invoice": {
        "type": "object",
        "properties": {
          "invoice_number": {
            "description": "A unique identification of the Invoice.",
            "type": "string"
          },
          "invoice_date": {
            "description": "The date when the Invoice was issued. Format: YYYY-MM-DD",
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "invoice_currency_code": {
            "description": "The currency in which all Invoice amounts are given.",
            "type": "string",
            "enum": [
              "AED",
              "AFN",
              "ALL",
              "AMD",
              "ANG",
              "AOA",
              "ARS",
              "AUD",
              "AWG",
              "AZN",
              "BAM",
              "BBD",
              "BDT",
              "BGN",
              "BHD",
              "BIF",
              "BMD",
              "BND",
              "BOB",
              "BOV",
              "BRL",
              "BSD",
              "BTN",
              "BWP",
              "BYN",
              "BZD",
              "CAD",
              "CDF",
              "CHE",
              "CHF",
              "CHW",
              "CLF",
              "CLP",
              "CNY",
              "COP",
              "COU",
              "CRC",
              "CUC",
              "CUP",
              "CVE",
              "CZK",
              "DJF",
              "DKK",
              "DOP",
              "DZD",
              "EGP",
              "ERN",
              "ETB",
              "EUR",
              "FJD",
              "FKP",
              "GBP",
              "GEL",
              "GHS",
              "GIP",
              "GMD",
              "GNF",
              "GTQ",
              "GYD",
              "HKD",
              "HNL",
              "HRK",
              "HTG",
              "HUF",
              "IDR",
              "ILS",
              "INR",
              "IQD",
              "IRR",
              "ISK",
              "JMD",
              "JOD",
              "JPY",
              "KES",
              "KGS",
              "KHR",
              "KMF",
              "KPW",
              "KRW",
              "KWD",
              "KYD",
              "KZT",
              "LAK",
              "LBP",
              "LKR",
              "LRD",
              "LSL",
              "LYD",
              "MAD",
              "MDL",
              "MGA",
              "MKD",
              "MMK",
              "MNT",
              "MOP",
              "MUR",
              "MVR",
              "MWK",
              "MXN",
              "MXV",
              "MYR",
              "MZN",
              "NAD",
              "NGN",
              "NIO",
              "NOK",
              "NPR",
              "NZD",
              "OMR",
              "PAB",
              "PEN",
              "PGK",
              "PHP",
              "PKR",
              "PLN",
              "PYG",
              "QAR",
              "RON",
              "RSD",
              "RUB",
              "RWF",
              "SAR",
              "SBD",
              "SCR",
              "SDG",
              "SEK",
              "SGD",
              "SHP",
              "SOS",
              "SRD",
              "SSP",
              "SVC",
              "SYP",
              "SZL",
              "THB",
              "TJS",
              "TMT",
              "TND",
              "TOP",
              "TRY",
              "TTD",
              "TWD",
              "TZS",
              "UAH",
              "UGX",
              "USD",
              "USN",
              "UYI",
              "UYU",
              "UZS",
              "VND",
              "VUV",
              "WST",
              "XAF",
              "XAG",
              "XAU",
              "XBA",
              "XBB",
              "XBC",
              "XBD",
              "XCD",
              "XDR",
              "XOF",
              "XPD",
              "XPF",
              "XPT",
              "XSU",
              "XTS",
              "XUA",
              "XXX",
              "YER",
              "ZAR",
              "ZMW",
              "ZWL"
            ]
          },
          "invoice_type": {
            "description": "Invoice direction from the user's business perspective. 'incoming' = invoice received from vendor/supplier that the business must pay; 'outgoing' = invoice created by the business and sent to customer for payment.",
            "type": "string",
            "enum": [
              "incoming",
              "outgoing"
            ]
          },
          "invoice_note": {
            "type": "string"
          },
          "additional_data": {
            "type": "object",
            "properties": {
              "reverse_charge": {
                "description": "True if invoice is VAT Reverse Charge",
                "type": "boolean"
              },
              "leitweg_id": {
                "description": "The Leitweg-ID used for payments to the german government.",
                "anyOf": [
                  {
                    "type": "string",
                    "pattern": "^\\d{12}(-[A-Za-z0-9]{1,30})?$"
                  },
                  {
                    "type": "string",
                    "const": ""
                  }
                ]
              },
              "customer_id": {
                "type": "string"
              },
              "order_id": {
                "type": "string"
              },
              "delivery_id": {
                "type": "string"
              },
              "project": {
                "description": "A reference to a project.",
                "type": "string"
              },
              "preceeding_invoice_number": {
                "type": "string"
              },
              "invoicing_period": {
                "description": "The time period in which the services or goods were provided.",
                "type": "object",
                "properties": {
                  "start": {
                    "description": "Format: YYYY-MM-DD",
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                  },
                  "end": {
                    "description": "Format: YYYY-MM-DD",
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                  }
                },
                "required": [
                  "start",
                  "end"
                ],
                "additionalProperties": false
              }
            },
            "additionalProperties": false
          },
          "seller": {
            "type": "object",
            "properties": {
              "name": {
                "description": "The full formal name of the Party.",
                "type": "string"
              },
              "postal_address": {
                "type": "object",
                "properties": {
                  "address_line_1": {
                    "type": "string"
                  },
                  "address_line_2": {
                    "type": "string"
                  },
                  "address_line_3": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "post_code": {
                    "type": "string"
                  },
                  "country_subdivision": {
                    "type": "string"
                  },
                  "country_code": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 2
                  }
                },
                "required": [
                  "address_line_1",
                  "city",
                  "post_code",
                  "country_code"
                ],
                "additionalProperties": false
              },
              "vat_identifier": {
                "type": "string"
              },
              "contact": {
                "type": "object",
                "properties": {
                  "telephone_number": {
                    "type": "string"
                  },
                  "email_address": {
                    "type": "string",
                    "format": "email",
                    "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                  }
                },
                "additionalProperties": false
              }
            },
            "required": [
              "name",
              "postal_address",
              "contact"
            ],
            "additionalProperties": false
          },
          "buyer": {
            "type": "object",
            "properties": {
              "name": {
                "description": "The full formal name of the Party.",
                "type": "string"
              },
              "postal_address": {
                "type": "object",
                "properties": {
                  "address_line_1": {
                    "type": "string"
                  },
                  "address_line_2": {
                    "type": "string"
                  },
                  "address_line_3": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "post_code": {
                    "type": "string"
                  },
                  "country_subdivision": {
                    "type": "string"
                  },
                  "country_code": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 2
                  }
                },
                "required": [
                  "address_line_1",
                  "city",
                  "post_code",
                  "country_code"
                ],
                "additionalProperties": false
              },
              "vat_identifier": {
                "type": "string"
              },
              "contact": {
                "type": "object",
                "properties": {
                  "telephone_number": {
                    "type": "string"
                  },
                  "email_address": {
                    "type": "string",
                    "format": "email",
                    "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                  }
                },
                "additionalProperties": false
              }
            },
            "required": [
              "name",
              "postal_address",
              "contact"
            ],
            "additionalProperties": false
          },
          "delivery_information": {
            "type": "object",
            "properties": {
              "deliver_to": {
                "type": "string"
              },
              "deliver_to_address": {
                "type": "object",
                "properties": {
                  "address_line_1": {
                    "type": "string"
                  },
                  "address_line_2": {
                    "type": "string"
                  },
                  "address_line_3": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "post_code": {
                    "type": "string"
                  },
                  "country_subdivision": {
                    "type": "string"
                  },
                  "country_code": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 2
                  }
                },
                "required": [
                  "address_line_1",
                  "city",
                  "post_code",
                  "country_code"
                ],
                "additionalProperties": false
              },
              "delivery_date": {
                "type": "string"
              },
              "delivery_method": {
                "type": "string"
              },
              "delivery_instructions": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "payment_information": {
            "type": "object",
            "properties": {
              "payment_type": {
                "type": "string",
                "enum": [
                  "credit_card",
                  "credit_transfer",
                  "cash",
                  "online_payment_service"
                ]
              },
              "payment_reference": {
                "type": "string"
              },
              "payment_instructions": {
                "type": "string"
              },
              "payment_account_number": {
                "type": "string"
              },
              "credit_card_number": {
                "type": "string"
              },
              "credit_card_type": {
                "type": "string"
              },
              "payment_due_date": {
                "anyOf": [
                  {
                    "description": "Format: YYYY-MM-DD",
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                  },
                  {
                    "type": "string",
                    "const": ""
                  }
                ]
              },
              "payment_payed_date": {
                "anyOf": [
                  {
                    "description": "Format: YYYY-MM-DD",
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                  },
                  {
                    "type": "string",
                    "const": ""
                  }
                ]
              },
              "payment_terms": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "totals": {
            "type": "object",
            "properties": {
              "total_amount_without_vat": {
                "type": "number"
              },
              "total_amount_with_vat": {
                "type": "number"
              },
              "total_vat_amount": {
                "type": "number"
              },
              "amount_due_for_payment": {
                "type": "number"
              },
              "paid_amount": {
                "type": "number"
              },
              "sum_of_allowances": {
                "type": "number"
              },
              "sum_of_charges": {
                "type": "number"
              },
              "invoice_total_without_vat": {
                "type": "number"
              },
              "rounding_amount": {
                "type": "number"
              }
            },
            "required": [
              "total_amount_without_vat",
              "total_amount_with_vat",
              "total_vat_amount",
              "amount_due_for_payment",
              "paid_amount"
            ],
            "additionalProperties": false
          },
          "items": {
            "minItems": 1,
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "item_identifier": {
                  "type": "string"
                },
                "item_quantity": {
                  "type": "number"
                },
                "item_quantity_unit_of_measure_code": {
                  "type": "string"
                },
                "item_total_amount_with_vat": {
                  "type": "number"
                },
                "item_total_amount_without_vat": {
                  "type": "number"
                },
                "price_details": {
                  "type": "object",
                  "properties": {
                    "item_price_without_vat": {
                      "type": "number"
                    },
                    "item_price_discount": {
                      "type": "number"
                    },
                    "item_price_with_vat": {
                      "type": "number"
                    },
                    "item_vat_percentage": {
                      "type": "number"
                    },
                    "vat_category_code": {
                      "type": "string",
                      "enum": [
                        "S",
                        "Z",
                        "E",
                        "AE",
                        "K",
                        "G",
                        "O",
                        "L",
                        "M"
                      ]
                    }
                  },
                  "required": [
                    "item_price_without_vat",
                    "item_price_with_vat",
                    "item_vat_percentage",
                    "vat_category_code"
                  ],
                  "additionalProperties": false
                },
                "item_information": {
                  "type": "string"
                }
              },
              "required": [
                "item_identifier",
                "item_quantity",
                "item_quantity_unit_of_measure_code",
                "item_total_amount_with_vat",
                "price_details"
              ],
              "additionalProperties": false
            }
          },
          "invoice_description": {
            "description": "A short description about the invoice.",
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "required": [
          "invoice_number",
          "invoice_date",
          "invoice_currency_code",
          "invoice_type",
          "seller",
          "buyer",
          "payment_information",
          "totals",
          "items",
          "invoice_description"
        ],
        "additionalProperties": false
      },
      "Error": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "number",
            "description": "HTTP status code"
          },
          "statusMessage": {
            "type": "string",
            "description": "HTTP status message"
          },
          "message": {
            "type": "string",
            "description": "Detailed error message"
          }
        },
        "required": [
          "statusCode",
          "statusMessage"
        ]
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "number",
            "description": "HTTP status code"
          },
          "statusMessage": {
            "type": "string",
            "description": "HTTP status message"
          },
          "data": {
            "type": "object",
            "properties": {
              "errors": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string",
                      "description": "Dot-separated field path (e.g. \"seller.postal_address.city\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Validation error message"
                    }
                  },
                  "required": [
                    "path",
                    "message"
                  ]
                }
              }
            },
            "required": [
              "errors"
            ]
          }
        },
        "required": [
          "statusCode",
          "statusMessage",
          "data"
        ]
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/api/v1/batch/convert": {
      "post": {
        "tags": [
          "Batch"
        ],
        "operationId": "batchConvert",
        "summary": "Batch Convert",
        "description": "Process multiple invoice operations in a single request. Supports up to 100 operations. Each operation is processed independently, so failures in one operation do not affect others. This is a competitive advantage feature - no other invoice API offers batch processing.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operations": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 100,
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for this operation (returned in results)"
                        },
                        "operation": {
                          "type": "string",
                          "enum": [
                            "json_to_ubl",
                            "json_to_cii",
                            "ubl_to_json",
                            "cii_to_json",
                            "zugferd_to_json"
                          ],
                          "description": "Type of operation to perform"
                        },
                        "input": {
                          "type": [
                            "object",
                            "string"
                          ],
                          "description": "Input data - JSON object for json_to_* operations, XML/PDF string for *_to_json operations"
                        }
                      },
                      "required": [
                        "id",
                        "operation",
                        "input"
                      ]
                    }
                  }
                },
                "required": [
                  "operations"
                ]
              },
              "example": {
                "operations": [
                  {
                    "id": "op-1",
                    "operation": "json_to_ubl",
                    "input": {
                      "invoice_number": "INV-001",
                      "invoice_date": "2025-12-15",
                      "invoice_currency_code": "EUR",
                      "type": "outgoing",
                      "seller": {},
                      "buyer": {},
                      "payment_information": {},
                      "totals": {},
                      "items": [],
                      "description": "Test invoice"
                    }
                  },
                  {
                    "id": "op-2",
                    "operation": "cii_to_json",
                    "input": "<?xml version=\"1.0\"?><!-- CII XML -->"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch processing results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          },
                          "output": {
                            "type": "object",
                            "description": "Operation output (JSON or XML/PDF string)"
                          },
                          "error": {
                            "type": "string",
                            "description": "Error message if operation failed"
                          }
                        }
                      }
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "successful": {
                          "type": "number"
                        },
                        "failed": {
                          "type": "number"
                        },
                        "processing_time_ms": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid batch request or too many operations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required - Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Batch processing failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cii/json": {
      "post": {
        "tags": [
          "Conversion"
        ],
        "operationId": "convertCiiToJson",
        "summary": "CII > JSON",
        "description": "This endpoint converts a CII XML file to a JSON Invoice.",
        "requestBody": {
          "content": {
            "application/xml": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The JSON invoice.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid CII XML or validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required - Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cii/validate": {
      "post": {
        "tags": [
          "Validation"
        ],
        "operationId": "validateCiiXml",
        "summary": "CII Validation",
        "description": "Validates a CII XML file against XRechnung 3.0.2 (EN 16931) rules.",
        "requestBody": {
          "content": {
            "application/xml": {
              "schema": {
                "type": "string",
                "description": "The invoice in CII format"
              }
            },
            "text/plain": {
              "schema": {
                "type": "string",
                "description": "The invoice in CII format"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The validation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "type": "boolean",
                      "description": "Indicates if the file is valid."
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Describes the errors of the validation."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required - Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/file/json": {
      "post": {
        "tags": [
          "Extraction"
        ],
        "operationId": "extractInvoiceFromFile",
        "summary": "PDF/Image > JSON",
        "description": "This endpoint processes a PDF file and returns the result as JSON.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "object",
                    "description": "The PDF/Image file to process",
                    "properties": {
                      "content": {
                        "type": "string",
                        "description": "Base64 encoded file content"
                      },
                      "contentType": {
                        "type": "string",
                        "description": "The content type of the file"
                      },
                      "fileName": {
                        "type": "string",
                        "description": "The name of the file"
                      }
                    },
                    "required": [
                      "content",
                      "contentType",
                      "fileName"
                    ]
                  },
                  "qr": {
                    "type": "boolean",
                    "description": "Whether to extract QR Code Data. Defaults to `false`"
                  },
                  "parties": {
                    "type": "array",
                    "description": "Optional array of known parties to help with extraction accuracy",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The full formal name of the Party."
                        },
                        "postal_address": {
                          "type": "object",
                          "properties": {
                            "address_line_1": {
                              "type": "string"
                            },
                            "address_line_2": {
                              "type": "string"
                            },
                            "address_line_3": {
                              "type": "string"
                            },
                            "city": {
                              "type": "string"
                            },
                            "post_code": {
                              "type": "string"
                            },
                            "country_subdivision": {
                              "type": "string"
                            },
                            "country_code": {
                              "type": "string",
                              "description": "ISO 3166-1 alpha-2 country code (e.g. 'DE', 'US', 'FR')",
                              "minLength": 2,
                              "maxLength": 2
                            }
                          },
                          "required": [
                            "address_line_1",
                            "city",
                            "post_code",
                            "country_code"
                          ]
                        },
                        "vat_identifier": {
                          "type": "string"
                        },
                        "contact": {
                          "type": "object",
                          "properties": {
                            "telephone_number": {
                              "type": "string"
                            },
                            "email_address": {
                              "type": "string",
                              "format": "email",
                              "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                            }
                          }
                        }
                      },
                      "required": [
                        "name",
                        "postal_address",
                        "contact"
                      ]
                    }
                  },
                  "instructions": {
                    "type": "string",
                    "description": "Optional instructions for the LLM"
                  },
                  "categories": {
                    "type": "array",
                    "description": "Optional array of categories for invoice classification",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the category"
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the category"
                        },
                        "description": {
                          "type": "string",
                          "description": "Description of the category"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "description"
                      ]
                    }
                  }
                },
                "required": [
                  "file"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The PDF/Image file to upload"
                  },
                  "qr": {
                    "type": "string",
                    "description": "Whether to extract QR Code Data. \"true\" or \"false\". Defaults to \"false\""
                  },
                  "parties": {
                    "type": "string",
                    "description": "JSON-encoded array of known parties"
                  },
                  "categories": {
                    "type": "string",
                    "description": "JSON-encoded array of categories for invoice classification"
                  },
                  "instructions": {
                    "type": "string",
                    "description": "Optional instructions for the LLM"
                  }
                },
                "required": [
                  "file"
                ]
              },
              "encoding": {
                "parties": {
                  "contentType": "application/json"
                },
                "categories": {
                  "contentType": "application/json"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoice": {
                      "$ref": "#/components/schemas/Invoice"
                    },
                    "qr": {
                      "type": "object",
                      "nullable": true,
                      "description": "QR code data if qr extraction was requested"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid file data or processing failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required - Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/file/qr": {
      "post": {
        "tags": [
          "Extraction"
        ],
        "operationId": "extractQrCode",
        "summary": "Image > QR Code Data",
        "description": "This endpoint processes an Image file and scans for QR Codes. If found the QR Code is parsed and returned as JSON.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "object",
                    "description": "The image file to process",
                    "properties": {
                      "content": {
                        "type": "string",
                        "description": "Base64 encoded file content"
                      },
                      "contentType": {
                        "type": "string",
                        "description": "The content type of the file"
                      },
                      "fileName": {
                        "type": "string",
                        "description": "The name of the file"
                      }
                    },
                    "required": [
                      "content",
                      "contentType",
                      "fileName"
                    ]
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The QR code data."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid file data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required - Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/json/cii": {
      "post": {
        "tags": [
          "Conversion"
        ],
        "operationId": "convertJsonToCii",
        "summary": "JSON > CII",
        "description": "This endpoint converts a JSON Invoice to a CII XML file.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Invoice"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The CII XML file.",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid invoice data or validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required - Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/json/ubl": {
      "post": {
        "tags": [
          "Conversion"
        ],
        "operationId": "convertJsonToUbl",
        "summary": "JSON > UBL",
        "description": "This endpoint converts a JSON Invoice to a UBL XML file.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Invoice"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The UBL XML file.",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid invoice data or validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required - Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/json/xlsx": {
      "post": {
        "tags": [
          "Conversion"
        ],
        "operationId": "convertJsonToXlsx",
        "summary": "JSON > XLSX",
        "description": "This endpoint converts a JSON Invoice to an Excel file.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "invoices": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Invoice"
                    }
                  }
                },
                "required": [
                  "invoices"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The XLSX file.",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid invoice data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required - Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/json/zugferd": {
      "post": {
        "tags": [
          "Conversion"
        ],
        "operationId": "createZugferdPdf",
        "summary": "Create ZUGFeRD PDF",
        "description": "This endpoint accepts an Invoice json data object, converts the invoice to CII XML, validates it, embeds it into the PDF according to ZUGFeRD/Factur-X standards, and returns the resulting PDF file directly.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "object",
                    "description": "The PDF file to embed the invoice data into",
                    "properties": {
                      "content": {
                        "type": "string",
                        "description": "Base64 encoded file content"
                      },
                      "contentType": {
                        "type": "string",
                        "description": "The content type of the file"
                      },
                      "fileName": {
                        "type": "string",
                        "description": "The name of the file"
                      }
                    }
                  },
                  "invoice": {
                    "$ref": "#/components/schemas/Invoice"
                  }
                },
                "required": [
                  "file",
                  "invoice"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The PDF file to embed the invoice data into"
                  },
                  "invoice": {
                    "type": "string",
                    "description": "JSON-encoded Invoice object"
                  }
                },
                "required": [
                  "file",
                  "invoice"
                ]
              },
              "encoding": {
                "invoice": {
                  "contentType": "application/json"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success - Returns the ZUGFeRD PDF file directly",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "The ZUGFeRD PDF file with embedded XML invoice data"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid invoice data or PDF processing failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required - Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - PDF processing failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ubl/json": {
      "post": {
        "tags": [
          "Conversion"
        ],
        "operationId": "convertUblToJson",
        "summary": "UBL > JSON",
        "description": "This endpoint converts a UBL XML file to a JSON Invoice.",
        "requestBody": {
          "content": {
            "application/xml": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The JSON invoice.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid UBL XML or validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required - Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ubl/validate": {
      "post": {
        "tags": [
          "Validation"
        ],
        "operationId": "validateUblXml",
        "summary": "UBL Validation",
        "description": "Validates a UBL XML file against XRechnung 3.0.2 (EN 16931) rules.",
        "requestBody": {
          "content": {
            "application/xml": {
              "schema": {
                "type": "string",
                "description": "The invoice in UBL format"
              }
            },
            "text/plain": {
              "schema": {
                "type": "string",
                "description": "The invoice in UBL format"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The validation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "type": "boolean",
                      "description": "Indicates if the file is valid."
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Describes the errors of the validation."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required - Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user": {
      "get": {
        "tags": [
          "User"
        ],
        "operationId": "getCurrentUser",
        "summary": "Get Current User",
        "description": "This endpoint returns the current user.",
        "responses": {
          "200": {
            "description": "The current user.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "email",
                    "role",
                    "credits"
                  ],
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "The user email."
                    },
                    "role": {
                      "type": "string",
                      "description": "The user role."
                    },
                    "credits": {
                      "type": "object",
                      "description": "The user credits per category.",
                      "properties": {
                        "extraction": {
                          "type": "number",
                          "description": "Extraction credits remaining."
                        },
                        "conversion": {
                          "type": "number",
                          "description": "Conversion credits remaining."
                        },
                        "validation": {
                          "type": "number",
                          "description": "Validation credits remaining."
                        },
                        "qr": {
                          "type": "number",
                          "description": "QR credits remaining."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/zugferd/json": {
      "post": {
        "tags": [
          "Conversion"
        ],
        "operationId": "convertZugferdToJson",
        "summary": "ZUGFeRD > JSON",
        "description": "This endpoint extracts the embedded XML from a ZUGFeRD PDF and converts it to a JSON Invoice. ZUGFeRD is a hybrid PDF/A-3 format that contains both a human-readable PDF and machine-readable XML data.",
        "requestBody": {
          "content": {
            "application/pdf": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The JSON invoice extracted from ZUGFeRD PDF.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid ZUGFeRD PDF or extraction failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required - Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  }
}
